# Ignore everything
*

# Except
!.gitignore
!/*.py
!README.md
!.vscode
!.vscode/*
!saved_mappings
!saved_mappings/**
!requirements.txt
!update_records_custom
!update_records_custom/**
!notes
!notes/**
!fulcrum_types
!fulcrum_types/**
